<div class="header">
    <img id="banner" src="../assets/images/AC_App/Animal_Crossing_Logo.png">
</div>
<div id="AC_App">
    <div class="">    
        <div id="app">
            {{#if isStarted}}
                {{partial 'animalcrossing/clock'}}
            {{else}}    
                <div id="start">
                    <a {{action 'start'}}>
                        <img 
                             src="../assets/images/AC_App/kk_button_tumblr.png"  
                             onmouseover="this.src='../assets/images/AC_App/kk_button_tumblr.gif';"
                             onmouseout="this.src='../assets/images/AC_App/kk_button_tumblr.png';">
                        </a>
                    </div>
                {{/if}}
            </div> <!--End of AC App Div-->
        <div>
            <div>{{outlet}}</div>
            {{#if hintShowing}}
                <button {{action 'hideHint'}} class="cancel-button">X</button>
                {{partial 'animalcrossing/guide'}}
                {{/if}}
            </div><!--End of AC Outlet Div-->
        </div><!--End of container Div-->
</div>

<div class="footer">
    <div id="time"></div>
    <nav>
        <li>
            {{#link-to 'animalcrossing.gen'}}
                <button {{action 'end'}} class="col-xs-6 btn btn-default">Generations</button>
            {{/link-to}}
            </li>
        <li {{action 'showHint'}}>
            <button class="col-xs-6 btn btn-default">Help!!</button>
            </li>
    </nav>
</div>