<div id="AC_App" class="text-center">
    <div class="header pt-3"><!--AC Header-->  
        <img id="banner" class="img-fluid" src="../assets/images/AC_App/Animal_Crossing_Logo.png">
        </div>
    <div class="page pt-3"><!--AC Page-->    
        {{render "animalcrossing/app"}}
        <div>{{outlet}}</div>
        </div>
    <div class="footer pt-3"><!--AC Footer-->  
        <div id="time"></div>
        {{#if genShowing}}
            <button class="btn btn-default col-sm-4 disabled">Generations</button>
            <button {{action 'hideGen'}} class="cancel-button">X</button>
            {{render 'animalcrossing/gen/index'}}
        {{else}}
            <button {{action 'showGen'}} class="btn btn-default col-sm-5">Generations</button>
            {{/if}}
        {{#if hintShowing}}
            <button class="btn btn-default col-sm-4 disabled">Manual</button>
            <button {{action 'hideHint'}} class="btn cancel-button">X</button>
            {{render 'animalcrossing/guide'}}
        {{else}}
            <button {{action 'showHint'}} class="btn btn-default col-sm-5">Manual</button>
            {{/if}}
        </div>
    </div>