<div id="AC_App">
    <div class="header"><!--AC Header-->  
        <img id="banner" src="../assets/images/AC_App/Animal_Crossing_Logo.png">
        </div>
    <div class="page"><!--AC Page-->    
        {{render "animalcrossing/app"}}
        <div>{{outlet}}</div>
        {{#if hintShowing}}
            <button {{action 'hideHint'}} class="cancel-button">X</button>
            {{partial 'animalcrossing/guide'}}
            <button {{action 'hideHint'}} class="cancel-button">X</button>
            {{/if}}
        {{#if hourShowing}}
            <button {{action 'hideHour'}} class="cancel-button">X</button>
            {{partial 'animalcrossing/gen/index'}}
            <button {{action 'hideHour'}} class="cancel-button">X</button>
            {{/if}}
        </div>
    <div class="footer"><!--AC Footer-->  
        <div id="time"></div>
        <nav>
            <li>
                {{#link-to 'animalcrossing.gen'}}
                    <button {{action 'end'}} class="btn btn-default col-xs-12">Generations</button>
                    {{/link-to}}
                </li>
            <li {{action 'showHint'}}>
                <button class="btn btn-default col-xs-12">Help!!</button>
                </li>
            <li {{action 'showHour'}}>
                <button class="btn btn-default col-xs-12">View HourIds</button>
                </li>
            </nav>
        </div>
    </div>