<body>
	<div class="wrapper">
		<header>
			<img class="Banner" src="../assets/images/scholarBanner.jpg">
			</header>
		<aside class="aside">
			<li {{action "isDef"}}>
				{{#link-to 'home'}}
					<img src="../assets/images/home_icon.png">
					<span>Home</span>
					{{/link-to}}
				</li>
			<!--HomeScreen-->
			<li {{action "isProj"}}>
				{{#link-to 'projects'}}
					<img src="../assets/images/bgCtroller_icon.png">
					<span>Projects</span>
					{{/link-to}}
				</li>
			<!--Projects-->
			<li {{action "isOther"}}>
				{{#link-to 'animalcrossing'}}
					<img src="../assets/images/leaf_icon.png">
					<span>Animal Crossing Clock</span>
					{{/link-to}}
				</li>
			<!--Animal Crossing-->
			<li {{action "isOther"}}>
				{{#link-to 'undertale'}}
					<img src="../assets/images/heart_icon.png">
					<span>Undertale</span>
					{{/link-to}}
				</li>
			<!--Undertale-->
			<li {{action "isLeg"}}>
				{{#link-to 'legacy'}}
					<img src="../assets/images/writer_icon.png">
					<span>Legacy</span>
					{{/link-to}}
				</li>
				<!--Legacy/ Contact Page-->
			</aside>
		<article class="main">
			
			{{outlet}}

  			</article>
		<footer>
			<img class="Banner" src="../assets/images/geekBanner.jpg ">
			<p class="col-xs-12">lone-do&trade;</p>
		</footer>
		</div>
	</body>